/*.login li{font-family:"Microsoft YaHei";}*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, img{margin:0;padding:0;border:0;outline:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-user-select:none;}
input, button, textarea{margin:0;padding:0;border:0;outline:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
input:-moz-placeholder{color:#afafaf;}
input::-webkit-input-placeholder{color:#afafaf;}
body{font-size:15px;line-height:160%;font-family:Arial, sans-serif, Helvetica, "Microsoft YaHei", "SimHei";background:#f7f7f7;}
input{-webkit-appearance:none;-webkit-border-radius:0;}
ul, ol, li{list-style:none;}
a{color:#6d7579;text-decoration:none;-webkit-touch-callout:none}
a:active{color:#6d7579;}
.clear{clear:both}
/*-----------------------------------------public style----------------------------------------*/
.header, .h-inp-box{height:44px;overflow:hidden;background:#ffffff;color:#464646}
.header{position:relative;z-index:99;height:44px;line-height:44px;text-align:center;-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, .2);}
.header span{display:inline-block;width:12px;height:6px;margin-left:4px;margin-bottom:2px;background:url(../per_img/dpi1/ls.png) no-repeat right center;}
.header.spread span{-webkit-transform:rotate(180deg);}
.tbtn-l, .tbtn-r{position:absolute;cursor:pointer;width:44px;height:44px;}
.tbtn-l{left:0;top:0;}
.tbtn-r{right:0;top:0;}
.tbtn-l a, .tbtn-r a{display:block;margin-top:14px;margin-left:17px;width:10px;height:16px;background:url(../per_img/dpi1/ar.png) no-repeat center bottom;}
.tbtn-r.sx a{width:20px;height:20px;margin-top:12px;background:url(../per_img/dpi1/sx.png) no-repeat center bottom;}
.tbtn-l.curr a, .tbtn-r.curr a{background-position:center top;}
.h-inp{margin:6px 10px;padding:0 5px;height:24px;border-width:4px;-webkit-border-image:url(../per_img/dpi1/h-inp.png) 4 repeat;position:relative;}
.h-inp input{width:100%;height:24px;font-size:14px;color:#1b1b1b;}
.h-inp button{position:absolute;right:-3px;top:-3px;width:70px;height:30px;font-size:14px;color:#1b1b1b;text-align:center;border-radius:0 3px 3px 0;background-color:#00d5f5}
/*-------------login.html style---------------*/
.login{margin:120px auto 20px;width:228px;box-sizing:border-box;}
.login li{border:1px solid #157dfb;box-sizing:border-box;height:50px;line-height:50px;background-color:#FFF;margin-bottom:10px;color:#000;font-size:14px;}
.login li span{display:block;float:left;width:46px;height:46px;background-color:#993333;margin:1px 7px 0 1px}
.login li.a span{background:url(../per_img/dpi1/login_sinaweibo.png) no-repeat center bottom;}
.login li.b span{background:url(../per_img/dpi1/login_qqweibo.png) no-repeat center bottom;}
.login li.c span{background:url(../per_img/dpi1/login_trafficeye.png) no-repeat center bottom;}
.login li.d span{background:url(../per_img/dpi1/login_qq.png) no-repeat center bottom;}
.login li.c{position:relative}
.login li.c div{position:absolute;right:-1px;top:-1px;height:50px;line-height:50px;color:#FFF;width:62px;font-size:16px;text-align:center;background-color:#157dfb}
.login li.c div.curr{background-color:#0e51a3;color:#a6a6a6}
.login li.curr{background-color:#f0fdff;}
/*-------------register.html style---------------*/
.register{margin:20px 20px 0;}
.register li{height:38px;line-height:38px;font-size:14px;color:#606366;border:1px solid #00d5f5;margin-bottom:10px;background-color:#FFF}
.register li span{display:block;float:left;width:56px;text-align:center;border-right:1px solid #00d5f5;}
.register li h2{padding-top:4px;padding-left:6px;margin:0 0 0 60px;line-height:0;}
.register li h2 input{height:30px;font-size:14px;color:#606366;width:100%}
.register_btn{width:61.8%;margin:30px auto 0;height:40px;line-height:40px;color:#fff;background-color:#157dfb;text-align:center}
.register_btn.curr{background-color:#0e51a3;color:#a6a6a6}
.r_a{text-align:right;font-weight:normal}
.r_a a{color:#005fd2;display:inline-block;padding:0 20px;text-decoration:underline;font-size:14px}
.r_a a.curr{color:#043b7d;}
.sg li span{width:66px;}
.sg li h2{margin:0 0 0 70px;}
/*-------------info.html style---------------*/
.nxx{position:relative;margin:0 auto;z-index:99;width:320px;background-color:#000}
.imgwidth{width:100%}
.nxx.curr img{opacity:0.7;}
.nxx img{display:block;margin:0 auto}
.nr{position:absolute;bottom:12px;right:0;height:26px;background-color:rgba(0, 0, 0, 0.6);padding:5px 10px}
.nr a{float:left;line-height:100%;color:#FFF;font-size:12px;padding:0 8px;text-align:center}
.nl{position:absolute;bottom:-40px;left:10px;width:80px;height:80px;-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, .2);border:1px solid #fff;border-radius:3px;background-color:#000;}
.nl.curr{border:1px solid #a6a6a6;}
.nl.curr img{opacity:0.7;}
.nc{position:relative;z-index:22;font-size:16px;padding:18px 100px 0 95px;min-height:24px}
.ncr{position:absolute;right:5px;top:12px;height:26px;}
.ncr a{display:block;float:left;font-size:14px;text-align:center;line-height:26px;padding:0 12px;background-color:#f1fdff;border:1px solid #00d5f5;color:#00d5f5;margin:0 5px}
.ncr a.curr{border:1px solid #00d5f5;background-color:#00d5f5;color:#fff;}
.ncn, .ncv, .third-s, .third-t, .third-vx{display:inline-block;vertical-align:-2px;height:14px;width:20px;background:url(../per_img/dpi1/n.png) no-repeat center center;}
.ncv{background:url(../per_img/dpi1/v.png) no-repeat center center;}
.third-s{background:url(../per_img/dpi1/s.png) no-repeat center center;}
.third-t{background:url(../per_img/dpi1/t.png) no-repeat center center;}
.third-vx{background:url(../per_img/dpi1/vx.png) no-repeat center center;}
.info-text{padding:6px 12px 0;font-size:12px;color:#a6a6a6;}
.info-box{border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;padding:0 10px;margin-top:12px;background-color:#FFFFFF}
.info{border-collapse:collapse;width:100%}
.info td{border-bottom:1px solid #e3e3e3;width:50%;height:42px;}
.info td.curr{background-color:#f0fdff}
.info td img{float:left}
.info td h2{margin-left:30px;font-size:14px;color:#606366;font-weight:normal;padding-top:1px}
.info td h2 s{text-decoration:none;font-size:12px;}
.info td.noborder{border-bottom:none;}
.info td.border-left{padding-left:10px;border-left:1px solid #e3e3e3;}
.prompt_cont{height:54px;width:100%;font-size:12px;color:#606366;margin-top:6px}
.schedulebg{border-radius:3px;height:12px;border:1px solid #b0b6b8;position:relative;-webkit-box-shadow:-1px -3px 4px rgba(0, 0, 0, .12) inset;}
.schedule_box{position:absolute;left:-1px;top:-1px;height:14px;width:100%;}
.schedule{display:block;border-radius:3px;height:14px;width:33%;background-color:#53b603;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(83, 182, 3, 1)), color-stop(100%, rgba(146, 228, 30, 1)));/* Chrome,Safari4+ */ background:-webkit-linear-gradient(top, rgba(83, 182, 3, 1) 0%, rgba(146, 228, 30, 1) 100%);/* Chrome10+,Safari5.1+ */ -webkit-box-shadow:-1px 3px 4px rgba(0, 0, 0, .2) inset;padding-right:1px;}
.textinfo{line-height:100%;margin:4px 0}
.textinfo span{float:right;}
.infolist{background-color:#ffffff;margin:10px 0;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.infolist li{display:block;color:#606366;font-size:14px;border-top:1px solid #e3e3e3;height:42px;line-height:42px;text-align:left;padding-left:10px;padding-right:20px;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.infolist li.curr{background-color:#f0fdff}
.infolist li s{font-size:12px;text-decoration:none}
.infolist li:first-child{border-top:none;}
.infolist li .icon{display:inline-block;height:28px;width:25px;margin-right:6px;vertical-align:middle;}
.infolist li.s .icon{background:url(../per_img/info5.jpg) no-repeat 0 top;background-size:26px 26px;}
.infolist li.h .icon{background:url(../per_img/info6.jpg) no-repeat 0 top;background-size:26px 26px;}
.infolist li span.libg_arrow{position:absolute;height:12px;width:8px;right:10px;top:50%;margin-top:-6px;background:url(../per_img/dpi1/r-arr.png) no-repeat center;}
/*-----------------------medal.html-----------------*/
.medalxx{margin:12px 10px 10px;background-color:#FFF;border:1px solid #e3e3e3}
.medalxx img{display:block;float:left;margin-right:10px}
.medalxx h3{color:#2b2b2b;font-size:14px;font-weight:normal;height:27px;line-height:27px;}
.medalxx h3 s{color:#e40000;font-size:16px;text-decoration:none}
.medaltt{padding-top:16px;}
.clear{clear:both}
.medalimg{width:320px;margin:10px auto;}
.m-img{display:block;height:70px;width:70px;margin:0 5px 10px;float:left;background:url(../per_img/medal.png) no-repeat left top;background-size:70px 70px;}
.distab td, .distab th{border-bottom:1px solid #e3e3e3;width:auto;height:42px;font-weight:normal;color:#606366;font-size:12px;}
.distab tr:last-child td, .distab tr:last-child th{border-bottom:none}
.distab td p{font-size:12px;color:#3b3b3b;}
.distab td span{font-size:10px;}
.distab th{color:#a6a6a6;font-size:10px;width:40%}
/*------------medaldetails------------------*/
.medaldetails{width:150px;height:150px;margin:30px auto 26px;background:url(../per_img/dpi1/mxx.png) no-repeat left top;}
.medname{color:#FFF;font-size:18px;text-align:center;background-color:#00d5f5;width:72%;margin:0 auto;height:44px;line-height:44px;-webkit-border-radius:3px;font-weight:normal}
.medtitle{text-align:center;font-size:18px;color:#323232;font-weight:normal;margin:10px 10px 5px}
.medcon{text-align:center;font-size:14px;color:#6b6a6a;width:72%;line-height:140%;margin:0 auto}
/*------------baseinfo------------------*/
.h-btn{margin:10px;height:40px;display:-webkit-box;}
.h-btn li{-webkit-box-flex:1;text-align:center;}
.h-btn li a{display:block;border:1px solid #00d5f5;background-color:#FFF;color:#606366;font-size:18px;height:38px;line-height:38px;}
.h-list li.curr{background-color:#ededed;}
.h-btn li.curr a{background-color:#00d5f5;color:#fff;}
.grsetuplist{background-color:#ffffff;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.grsetuplist li{display:block;color:#606366;font-size:14px;border-top:1px solid #e3e3e3;height:40px;line-height:40px;text-align:left;padding-left:10px;padding-right:20px;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.grsetuplist li:first-child{border-top:none;}
.grsetuplist li span.txx{float:right;font-size:14px;color:#afafaf;margin-right:5px;}
.grsetuplist li.heaherimg{height:100px;line-height:100px;}
.grsetuplist li.heaherimg span.txx{margin-top:10px}
.grsetuplist li span.libg_arrow{position:absolute;height:12px;width:8px;right:10px;top:50%;margin-top:-6px;background:url(../per_img/dpi1/r-arr.png) no-repeat center;}
.i-btn{margin:10px 5px;}
.i-btn li a{margin:0 5px;background-color:#157dfb;color:#fff;border:0;font-size:18px;height:40px;line-height:40px;}
.i-btn li.gay a{background-color:#dbdbdb;border:0;color:#5d5d5d;}
.i-btn li.curr a{background-color:#0e51a3;color:#a6a6a6;}
.i-btn li.gay.curr a{background-color:#b6b6b6;color:#5d5d5d;}
.att{font-size:10px;color:#9d9c9c;margin:10px;line-height:140%}
.heighta{margin-top:10px}
.heighta{background-color:#ffffff;border-bottom:1px solid #e3e3e3;margin-top:10px}
.heighta li{display:block;color:#606366;font-size:14px;border-top:1px solid #e3e3e3;line-height:20px;text-align:left;position:relative;padding:10px 25px 10px 10px}
.heighta li span.libg_arrow{position:absolute;height:12px;width:8px;right:10px;top:50%;margin-top:-6px;background:url(../per_img/dpi1/r-arr.png) no-repeat center;}
.nccc li h2{margin:0 0 0 0;}
.n-btn{margin:15px 15px 10px;}
.n-btn li{-webkit-box-flex:3;text-align:center;}
.n-btn li.gay{-webkit-box-flex:2;}
.itext{margin:20px;font-size:16px;color:#2d2d2d;line-height:160%}
.itext a{display:block;color:#005fd2;}
.itext a.curr{color:#043b7d;}
.margin1{margin:0 10px;}
.yztext{margin:20px 20px -10px}
.nccc{margin:20px 20px 15px;}
.nccc li{position:relative}
.nccc li .cf{position:absolute;right:-1px;top:-1px;height:40px;background-color:#dbdbdb;color:#313131;width:34%;padding:0 10px;text-align:center;font-size:14px}
.nccc li .cf.curr{background-color:#b6b6b6}
.qpl{padding:10px;font-size:16px;text-align:center;background-color:#f7f7f7;/*border-top:1px solid #d8d8d8;*/ color:#0E51A3;text-decoration:underline;}
.bblue{color:#0E51A3;text-decoration:underline;/*background-color:#eaeaea*/}
.cxlist{margin:20px;border:1px solid #e3e3e3;}
.cxlist li{font-size:16px;height:48px;line-height:48px;color:#333;}
.cxlist li.highlight{background-color:#bff6ff;}
.yztext span{color:#157dfb}
.selbox{margin:20px}
.selbox li{margin-bottom:10px}
select.set{-webkit-appearance:none;height:40px;line-height:40px;width:100%;color:#606366;padding-left:5px;border:1px solid #00d5f5;font-size:16px;font-weight:normal;background:#ffffff url(../per_img/dpi1/sanjiao.png) no-repeat right center;}
.grsetuplist li.curr, .heighta li.curr{background-color:#f0fdff;}
/*--------------loading full----------------*/
.prompt_mask{background-color:rgba(0, 0, 0, 0.5);position:absolute;top:0;left:0;right:0;bottom:0;height:100%;z-index:101;}
.p_load{height:50px;width:200px;background:rgba(0, 0, 0, 0.75);position:absolute;left:50%;top:50%;margin-left:-100px;margin-top:-25px;}
.loadimg{width:50px;height:50px;float:left;}
.loadimg span{display:block;width:20px;height:20px;margin:15px 0 0 15px;background:url(../per_img/dpi1/ld.png) no-repeat center top;-webkit-transform:rotate(0deg) translateZ(0);-webkit-transition-duration:0ms;-webkit-animation-name:inpload;-webkit-animation-duration:2.4s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;}
.loadtext{width:99px;height:50px;line-height:50px;float:left;color:#fff;font-size:15px;}
.loadqx{float:left;width:50px;height:50px;background-color:#ff5500;border-left:1px solid #999;background:url(../per_img/dpi1/ld.png) no-repeat 20px -30px;}
@-webkit-keyframes inpload{0%{-webkit-transform:rotate(0deg);}
5%{-webkit-transform:rotate(18deg);}
10%{-webkit-transform:rotate(36deg);}
15%{-webkit-transform:rotate(54deg);}
20%{-webkit-transform:rotate(72deg);}
25%{-webkit-transform:rotate(90deg);}
30%{-webkit-transform:rotate(108deg);}
35%{-webkit-transform:rotate(126deg);}
40%{-webkit-transform:rotate(144deg);}
45%{-webkit-transform:rotate(162deg);}
50%{-webkit-transform:rotate(180deg);}
55%{-webkit-transform:rotate(198deg);}
60%{-webkit-transform:rotate(216deg);}
65%{-webkit-transform:rotate(234deg);}
70%{-webkit-transform:rotate(252deg);}
75%{-webkit-transform:rotate(270deg);}
80%{-webkit-transform:rotate(288deg);}
85%{-webkit-transform:rotate(306deg);}
90%{-webkit-transform:rotate(324deg);}
95%{-webkit-transform:rotate(342deg);}
100%{-webkit-transform:rotate(360deg);}
/*from{-webkit-transform:rotate(0deg) translateZ(0);}
to{-webkit-transform:rotate(360deg) translateZ(0);}*/}
 @media (min-width: 400px) {.medalimg{width:400px;}}
 @media (min-width: 480px) {.medalimg{width:480px;}}
 @media (min-width: 560px) {.medalimg{width:560px;}}
 @media (min-width: 640px) {.medalimg{width:640px;}}
 @media (min-width: 720px) {.medalimg{width:720px;}}
 @media (min-width: 800px) {.medalimg{width:800px;}}