/*==========-webkit-device-pixel-ratio:2.0)==================*/
/*@media screen and (-webkit-device-pixel-ratio:2.0) {*/
.header span {
	background:url(../com_images/dpi2/ls.png) no-repeat right center;
	background-size:12px 6px;
}
.tbtn-l a, .tbtn-r a {
	background:url(../com_images/dpi2/ar.png) no-repeat center bottom;
	background-size:10px 32px;
}
.tbtn-r.sx a {
	background:url(../com_images/dpi2/sx.png) no-repeat center bottom;
	background-size:20px 40px;
}
.h-inp {
	border-width:4px;
	-webkit-border-image:url(../com_images/dpi2/h-inp.png) 8 repeat;
}
.tbtn-l.curr a, .tbtn-r.curr a {
	background-position: center top;
}
/*-------------main.html style---------------*/

span.add s {
	background:url(../com_images/dpi2/ad.png) no-repeat left top;
	background-size:40px 20px;
}
span.cut s {
	background-position: right top;
}
span.add.curr s {
	background-position: right top;
}
span.add.a s {
	background-position: right top;
}
span.add.a.curr s {
	background-position: left top;
}
.ncn, .ncv, .third-s, .third-t, .third-vx {
	background:url(../com_images/dpi2/n.png) no-repeat center center;
	background-size:13px 14px;
}
.ncv {
	background:url(../com_images/dpi2/v.png) no-repeat center center;
	background-size:13px 14px;
}
.third-s {
	background:url(../com_images/dpi2/s.png) no-repeat center center;
	background-size:18px 14px;
}
.third-t {
	background:url(../com_images/dpi2/t.png) no-repeat center center;
	background-size:14px 14px;
}
.third-vx {
	background:url(../com_images/dpi2/vx.png) no-repeat center center;
	background-size:17px 14px;
}
.l-r a.z, .l-r a.f, .l-r a.g {
	background:url(../com_images/dpi2/y.png) no-repeat 8px 14px;
	background-size:12px 12px;
}
.l-r a.f {
	background:url(../com_images/dpi2/f.png) no-repeat 8px 15px;
	background-size:12px 12px;
}
.l-r a.g {
	background:url(../com_images/dpi2/g.png) no-repeat center 15px;
	background-size:12px 12px;
}
.l-r a.z.curr{
	background:url(../com_images/dpi2/y-v.png) no-repeat 8px 14px;
	background-size:12px 12px;
}
.l-r a.f.curr {
	background:url(../com_images/dpi2/f-v.png) no-repeat 8px 15px;
	background-size:12px 12px;
}
.l-r a.g.curr {
	background:url(../com_images/dpi2/g-v.png) no-repeat center 15px;
	background-size:12px 12px;
}
.loadqx {
	background:url(../com_images/dpi2/ld.png) no-repeat 20px -30px;
	background-size:20px 60px;
}
.ah_img p {
	background:url(../com_images/dpi2/time.png) no-repeat 46px center;
	background-size:10px 10px;
}
.a_xadp a {
	background:url(../com_images/dpi2/xh.png) no-repeat 10px center;
	background-size:12px 12px;
}
.a_xadp a.dp {
	background:url(../com_images/dpi2/g.png) no-repeat left 13px;
	background-size:12px 12px;
}
.a_xadp a.curr {
	background:url(../com_images/dpi2/xh-v.png) no-repeat 10px center;
	background-size:12px 12px;
}
.a_xadp a.dp.curr {
	background:url(../com_images/dpi2/g-v.png) no-repeat left 13px;
	background-size:12px 12px;
}
.a_xadp .m_btn.curr {
	background-color: #008b9f;
	color: #a6a6a6;
	background-image:none
}
.a_pla a.a_zc {
	background:#fff url(../com_images/dpi2/y.png) no-repeat 15px center;
	background-size:12px 12px;
}
.a_pla a.a_tl {
	background:#fff url(../com_images/dpi2/g.png) no-repeat 15px center;
	background-size:12px 12px;
}
.zan {
	background:url(../com_images/dpi1.5/xh-v.png) no-repeat 0 3px;
	background-size:12px 12px;
}
/*}*/
